alabaster==0.7.7
anaconda-client==1.2.2
argcomplete==1.0.0
astropy==1.1.2
Babel==2.2.0
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.9.1
bokeh==0.11.1
boto==2.39.0
Bottleneck==1.0.0
Flask==0.10.1
Flask-Cors==2.1.2
gunicorn==19.5.0
SQLAlchemy==1.0.12
statsmodels==0.6.1
tornado==4.3
traitlets==4.2.1
unicodecsv==0.14.1
virtualenv==15.0.1
Werkzeug==0.11.4
xlrd==0.9.4
